---
layout: page
title: "About"
description: "This is what I do."
header-img: "img/about.jpg"
---
<section class="about">
  <h2 class="profile-head">Summary</h2>
  <p>Full stack <a href="https://www.drupal.org/u/malavya">Drupal developer</a>,
    an Open Source enthusiast & evanglist, Drupal trainer, quick learner, day dreamer,
    24X7 online, movie buff, Cricket fanatic & an amature player!!..</p>
    <p>An active community member with contributions in the Drupal project and also
      in the Bangalore Drupal community by organizing meetups and and provide
      Drupal in a Day training.
    </p>
    <strong><a href="https://www.youtube.com/watch?v=b9mAPnpV4ao">
      Speaker at Bangalore Drupal Camp '15
    </a></strong></br>
    <strong><a href="https://twitter.com/malavya88/status/700284562434166785">
      Volunteer in DrupalCon Asia '16
    </a></strong>
    <hr>
    <h2>Publications</h2>
    <div class="row publications">
      {% include publications.html %}
    </div>
    <hr>
    <h2 class="profile-head">Experience</h2>
    {% include experience.html %}
    <hr>
    <h2 class="profile-head">Portfolio</h2>
    {% include projects.html %}

  </section>
