body {
  margin: 40px;
  width: 35%;
  background: url("background.jpg") no-repeat;
  background-size: cover;
}
nav ul, footer ul {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 3em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  color: #2c3e50;
}

h3 {
  font-size: 1.5em;
  color: #2c3e50;
}

p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #FFF;
}

.social-icons {
  color: #ecf0f1;
  border: 1px solid #ecf0f1;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

.social-icons a {
  color: #ecf0f1;
  font-size: 1.1em;
  margin-left: 5px;
  margin-top: 2px;
  display: block;
}

footer {
  border-top: 1px solid #ecf0f1;
  font-size: 1.2em;
  padding-top: 30px;
  color: #ecf0f1
}

img {
    width: 60px;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}
