@font-face {
	font-family: 'AzoSans-Regular';
	src: url('../../assets/fonts/AzoSans-Regular/AzoSans-Regular.eot');
	src: url('../../assets/fonts/AzoSans-Regular/AzoSans-Regular.woff') format('woff'), url('../../assets/fonts/AzoSans-Regular/AzoSans-Regular.ttf') format('truetype'), url('../../assets/fonts/AzoSans-Regular/AzoSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AzoSans-Bold';
	src: url('../../assets/fonts/AzoSans-Bold/AzoSans-Bold.eot');
	src: url('../../assets/fonts/AzoSans-Bold/AzoSans-Bold.woff') format('woff'), url('../../assets/fonts/AzoSans-Bold/AzoSans-Bold.ttf') format('truetype'), url('../../assets/fonts/AzoSans-Bold/AzoSans-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'AzoSans-Light';
	src: url('../../assets/fonts/AzoSans-Light/AzoSans-Light.eot');
	src: url('../../assets/fonts/AzoSans-Light/AzoSans-Light.woff') format('woff'), url('../../assets/fonts/AzoSans-Light/AzoSans-Light.ttf') format('truetype'), url('f../../assets/onts/AzoSans-Light/AzoSans-Light.svg') format('svg');
	font-weight: lighter;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6{
	font-family: $azosans-bold;
}

a{
	color: $link-color;
	text-decoration: none;
	@include transition(.25s, color);
	&:hover{
		color: $link-color-hover;
		text-decoration: none !important;
	}
}

.muted{
	opacity: .6;
}

.small{
	font-size: 80%;
}

blockquote{
	border-left: 0;
	position: relative;
	padding: 0;
}

pre{
	position: relative;
	border-radius: 0;
	width: 121%;
	margin-left: -15%;
	padding: 2rem;
	@media screen and ($bp-smaller-than-tablet) and ($bp-larger-than-phablet){
		width: calc(100vw - 9%);
		margin-left: -2%;
	}
	@media screen and ($bp-smaller-than-phablet){
		width: calc(100vw - 17%);
		margin-left: -4%;
	}
}

code {
	display: block;
	background: transparent;
	color: $whisper;
	max-width: 740px;
	margin: auto;
}

p, li{
	code{
		display: inline;
		color: $link-color-hover;
		border: none;
		font-size: 100%;
	}
	&.info{
		border-left: 5px solid $charcoal;
		padding: .5rem 1rem;
	}
}

a{
	&.fancy{
		box-shadow: 0 -2px 0 0 $link-color-hover inset;
		transition: .25s all ease-in-out;
		-webkit-transition: .25s all ease-in-out;
		font-weight: 700;
		display: inline-block;
		line-height: 1.5;
		&:hover{
			box-shadow: 0 -10px 0 0 $link-color-hover inset;
		}
	}
}
