<header class="site-header" role="banner" id="site-header">

  <div class="expanded-wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <a class="site-title" href="{{ "/" | relative_url }}">Malabya <span>Tewari</span></a>

    {% if page_paths %}
    <nav class="site-nav">
      <ul class="menu">
        <li class="menu-item {% if page.url == '/' %}active{% endif %}">
          <a href="/" class="page-link" aria-label='Homepage'>Home</a>
        </li>
        <li class="menu-item {% if page.url == '/about/' %}active{% endif %}">
          <a href="/about" class="page-link" aria-label='About Me'>About</a>
        </li>
        <li class="menu-item {% if page.url == '/work/' %}active{% endif %}">
          <a href="/work" class="page-link" aria-label='My Work'>Work</a>
        </li>
        <li class="menu-item {% if page.url == '/contact/' %}active{% endif %}">
          <a href="/contact" class="page-link" aria-label='Contact Me'>Contact</a>
        </li>
      </ul>
    </nav>
    {% endif %}
  </div>
</header>
