<div class="projects">
  <ul class="project-list">
    <li class="item">
      <div class="project">
        <a href="http://cms.commonfloor.com"><h3>Content Repository for CommonFloor</h3></a>
      </div>
    </li>
    <li class="item">
      <div class="project">
        <a href="http://valuebound.com/"><h3>Valuebound Site redesign</h3></a>
      </div>
    </li>
    <li class="item">
      <div class="project">
        <a href="http://www.mnn.com/"><h3>Mother Nature Network</h3></a>
      </div>
    </li>
    <li class="item">
      <div class="project">
        <a href="http://sikkimpolice.demi.co.in/"><h3>E-Challan System</h3></a>
      </div>
    </li>
    <li class="item">
      <div class="project">
        <a href="https://enterprisersproject.com/"><h3>The Enterprisers Project</h3></a>
      </div>
    </li>
    <li class="item">
      <div class="project">
        <a href="https://www.ben.nl/"><h3>Ben</h3></a>
      </div>
    </li>
  </ul>
</div>
