<div class="book-cover col-sm-4">
  <img src="/img/book_cover.jpg" />
  <a href="https://www.amazon.com/Drupal-Development-Beginners-Guide-Second-ebook/dp/B01F3LATOC/ref=mt_kindle?_encoding=UTF8&me=#nav-subnav" class="btn btn-default buy">Buy On Amazon</a>
</div>
<div class="book-info col-sm-8">
  <a href="https://www.amazon.com/Drupal-Development-Beginners-Guide-Second-ebook/dp/B01F3LATOC" class="book-title">
    Drupal 8 Development: Beginner's Guide - Second Edition
  </a>
  <ul>
    <li>
      <p class="text-muted">
        Explore the new features of Drupal 8 through practical and interesting examples while building a fully functional recipe sharing website
      </p>
    </li>
    <li>
      <p class="text-muted">
        Learn about web content management, multi-media integration, and the newly introduced native web services in Drupal 8
      </p>
    </li>
    <li>
      <p class="text-muted">
        A hands-on, example-driven guide to developing Drupal websites that covers everything from site building, theme development, creating custom modules, as well as the development environment
      </p>
    </li>
  </ul>
</div>
