.page-content{
  padding: 0;
}

.expanded-wrapper{
  max-width: rem(1200);
  margin: auto;
  overflow: auto;
  padding: 0 1rem;
}

.wrapper{
  max-width: 960px;
}

.page-content{
  max-width: 740px;
  margin: 0 auto;
}

.rotate{
  *{
    width: 100%;
  }
}

.gif {
  margin-left: 0 !important;
  margin-right: 0 !important;
}