.mv1{
  margin-top: 10px;
  margin-bottom: 10px;
}

.mv2{
  margin-top: 20px;
  margin-bottom: 20px;
}

.mv3{
  margin-top: 30px;
  margin-bottom: 30px;
}

.mv4{
  margin-top: 40px;
  margin-bottom: 40px;
}

.mv5{
  margin-top: 50px;
  margin-bottom: 50px;
}

.mv6{
  margin-top: 60px;
  margin-bottom: 60px;
}

.mv7{
  margin-top: 70px;
  margin-bottom: 70px;
}

.mv8{
  margin-top: 80px;
  margin-bottom: 80px;
}

.zero-margin-top{
  margin-top: 0;
}

.zero-margin-bottom{
  margin-bottom: 0;
}

.pad1{
  padding-top: 10px;
  padding-bottom: 10px;
}

.pad2{
  padding-top: 20px;
  padding-bottom: 20px;
}

.pad3{
  padding-top: 30px;
  padding-bottom: 30px;
}

.pad4{
  padding-top: 40px;
  padding-bottom: 40px;
}

.pad5{
  padding-top: 50px;
  padding-bottom: 50px;
}

.pad6{
  padding-top: 60px;
  padding-bottom: 60px;
}

.zero-pad-top{
  padding-top: 0;
}

.zero-pad-bottom{
  padding-bottom: 0;
}
