.form-element {
  margin: 0 0 2.5rem 0;
  position: relative;
  label {
    position: absolute;
    top: .875rem;
    display: block;
    font-family: $azosans-bold;
    font-size: .875rem;
    z-index: 1;
    @include transition(.25s, all);
    &.required {
      &:after {
        content: '\0002A';
        position: absolute;
      }
    }
  }
  &.in-focus, &.has-value {
    label {
      top: -1rem;
      color: $link-color-hover;
      font-size: .75rem;
    }
  }
  input, textarea {
    display: block;
    width: 100%;
    padding: .75rem 0;
    font-size: 1rem;
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid #ccc;
    font-family: 'AzoSans-Light', sans-serif;
  }
}

input[type='submit'], button {
  background: $asphalt;
  color: $white;
  width: 10rem;
  margin: 3rem auto;
  padding: 1rem 2rem;
  &:hover {
    cursor: pointer;
  }
}