/* Homepage */
.post-item{
  border-bottom: 1px solid $whisper;
  .post-title{
    margin-bottom: .5rem;
    line-height: 1;
    font-size: 1.5rem;
    letter-spacing: normal;
    font-family: $azosans-regular;
    font-weight: 600;
  }
  .post-subtitle{
    color: $body-color;
    font-size: rem(18);
  }
  .post-meta{
    font-family: $lora;
  }
}

.hero-banner {
  background: #e53935 url('http://res.cloudinary.com/imalabya-media/image/upload/v1500188230/universe_soujvz.jpg') no-repeat center center;
  min-height: 30rem;
  box-shadow: 0 0 10px #000;
  position: relative;
  .hero-text{
    position: absolute;
    z-index: 100;
    color: #fff;
    left: 50%;
    top: 50%;
    font-size: 120%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    img, .rotate-text{
      display: inline-block;
      vertical-align: top
    }
    .rotate-text{
      min-width: rem(310);
    }
    img{
      margin-right: 1.5rem;
      border-radius: 50%;
      border: 10px solid #eee;
    }
  }
  .hero-title{
    font-family: $azosans-bold;
    .underline{
      border-bottom: 2px solid $link-color-hover;
    }
    .light{
      font-family: $azosans-light;
    }
  }
  .rotate{
    display: block;
    width: 100%;
    min-height: 2rem;
    margin-bottom: 1rem;
  }
  .button{
    display: inline-block;
    color: #fff;
    border: 1px solid $white;
    padding: .5rem 1rem;
  }
}

.rss-subscribe{
  text-align: center;
  a{
    position: relative;
    &:after{
      content: '';
      width: 1rem;
      height: 1rem;
      background: url('http://res.cloudinary.com/imalabya-media/image/upload/v1500270729/rss_aebjq0.png') no-repeat;
      display: inline-block;
      background-size: 1rem;
      margin-left: .75rem;
    }
  }
}
