/* Homepage */
.post-item{
  border-bottom: 1px solid $whisper;
  .post-title{
    margin-bottom: .5rem;
    line-height: 1;
    font-size: 1.5rem;
    letter-spacing: normal;
    font-family: $azosans-regular;
    font-weight: 600;
  }
  .post-subtitle{
    color: $body-color;
    font-size: rem(18);
  }
  .post-meta{
    font-family: $lora;
  }
}

.hero-banner{
  text-align: center;
  min-height: 35rem;
  background: url('http://res.cloudinary.com/imalabya-media/image/upload/v1500188230/universe_soujvz.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  -webkit-box-shadow: $light-grey 0 .25rem 1rem;
  -mox-box-shadown: $light-grey 0 .25rem 1rem;
  box-shadow: $light-grey 0 .25rem 1rem;
  margin-bottom: 2rem;
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 0
  }
  @media screen and ($bp-smaller-than-tablet){
    min-height: 25rem;
  }
}

.hero-text{
  padding: 8.5rem 10.5rem;
  color: #fff;
  font-size: 200%;
  position: absolute;
  top: 0;
  z-index: 1;
  text-align: center;
  span{
    border-bottom: 3px solid $link-color-hover;
  }
  @media screen and ($bp-smaller-than-tablet){
    padding: 8.5rem .5rem;
    font-size: 120%;
  }
  h1{
    display: none;
  }
  .ilogo{
    border: .25rem solid $whisper;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
}

.rss-subscribe{
  text-align: center;
  a{
    position: relative;
    &:after{
      content: '';
      width: 1rem;
      height: 1rem;
      background: url('http://res.cloudinary.com/imalabya-media/image/upload/v1500270729/rss_aebjq0.png') no-repeat;
      display: inline-block;
      background-size: 1rem;
      margin-left: .75rem;
    }
  }
}
