.page-type-post{
  .post-header{
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    color: $asphalt;
    .post-meta{
      font-size: 1rem;
    }
    .post-title{
      font-size: 3.75rem;
      font-family: $azosans-regular;
      position: relative;
    }
  }
  .post-content{
    font-size: 1.25rem;
    line-height: 1.75;
    p, .highlight {
      margin-bottom: 1.5rem;
    }
    a{
      font-family: $lora;
      font-style: italic;
      box-shadow: 0 -2px 0 0 $link-color-hover inset;
      transition: .25s all ease-in-out;
      -webkit-transition: .25s all ease-in-out;
      font-weight: 700;
      display: inline-block;
      line-height: 1.5;
      &:hover{
        box-shadow: 0 -10px 0 0 $link-color-hover inset;
      }
    }
  }

  .post-content-bottom{
    margin-bottom: 2rem;
    > div{
      margin-bottom: 1rem;
      display: inline-block;
    }
    .tags{
      float: left;
      width: 70%;
      > .tag{
        margin-right: 1rem;
      }
    }
    .share{
      float: right;
    }
  }
}

.show-comments{
  width: 100%;
  background: transparent;
  border: 1px solid $light-grey;
  color: $grey;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.PageNavigation{
  margin: 0 !important;
  width: 100%;
  .pager{
    float: left;
    width: 49.93%;
    padding: 1rem 0;
    border-top: 1px solid $whisper;
    border-bottom: 1px solid $whisper;
  }
  .prev{
    text-align: left;
    border-right: 1px solid $whisper;
    span{
      display: inline-block;
      margin-right: .5rem;
      top: -.0625em;
      transform: translate3d(0,0,0);
      transition: transform .15s ease;
    }
    &:hover{
      span{
        transform: translate3d(-.5em,0,0);
      }
    }
  }
  .next{
    text-align: right;
    span{
      display: inline-block;
      margin-left: .5rem;
      top: -.0625em;
      transform: translate3d(0,0,0);
      transition: transform .15s ease;
    }
    &:hover{
      span{
        transform: translate3d(.5em,0,0);
      }
    }
  }
}
