<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body class="{% if page.url == '/' %}homepage{% else %}page-type-post {{page.title | downcase | replace: ' ','-' | prepend: 'path-'}}{% endif %}" id='site-body'>

  {% include header.html %}

  <main class="page" id="page" aria-label="Content">

    {% if page.url == "/" %}
      {% include banner.html %}
    {% endif %}

    <div class="wrapper main-content pad5">
      {{ content }}
    </div>
  </main>

  {% include footer.html %}

</body>

</html>
