--- 
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta mv5 zero-margin-top">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%B %d, %Y" %} {{ page.date | date: date_format }}
      </time>
      under {{ page.category }}
    </p>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>
  <div class="page-content">
    <div class="post-content mv2 pad2 zero-margin-top zero-pad-top" itemprop="articleBody">
      {{ content }}
    </div>

    <div class="post-content-bottom mv5">
      <ul class="tags">
        {% for tag in page.tags %}
        <li>
          <a href="/tags#{{ tag }}" class="tag">{{ tag }}</a>
        </li>
        {% endfor %}
      </ul>
      <div class="share left">
        <span>Share this:</span> <div class="addthis_sharing_toolbox"></div>
      </div>
    </div>
    <div class="PageNavigation">
      {% if page.previous.url %}
      <a class="prev pager" href="{{page.previous.url}}">
        <span>&larr;</span>Previous</a>
      {% endif %} {% if page.next.url %}
      <a class="next pager" href="{{page.next.url}}">Next
        <span>&rarr;</span>
      </a>
      {% endif %}

    </div>
    
    {% include related.html %}

    {% if site.disqus.shortname %}
    <!-- An element a visitor can click if they <3 comments! -->
    <button class="show-comments">Leave a Comment</button>

    <!-- The empty element required for Disqus to loads comments into -->
    <div id="disqus_thread"></div>
    {% endif %}
  </div>
</article>