---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%B %d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
    </p>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>
  <div class="page-content">
    <div class="post-content mv6 zero-margin-top" itemprop="articleBody">
      {{ content }}
    </div>
    <div class="post-content-bottom mv3">
      <div class="tags">
        {% for tag in page.tags %}
        <span class="tag"><a href="/tags#{{ tag }}" class="tag">#{{ tag }}</a></span>
        {% endfor %}
      </div>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <div class="addthis_sharing_toolbox"></div>
    </div>
    {% if site.disqus.shortname %}
    <!-- An element a visitor can click if they <3 comments! -->
    <button class="show-comments">Leave a Comment</button>

    <!-- The empty element required for Disqus to loads comments into -->
    <div id="disqus_thread"></div>
    {% endif %}
  </div>
</article>
